@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Serif&family=Noto+Sans&family=Roboto+Slab:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'IBM Plex Serif', serif;
}
h3, h4{
    font-family: 'Cairo', sans-serif;
}
/*Header*/
header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.6) ;
    font-family: 'Noto Sans', sans-serif;
}
/* menu*/
nav{
    text-align: center;
    margin: auto;
    padding: 0px 5px;
    width: 69%;
}
.titulo-prin{
    color: #fff;
    width: 15%;
    font-size: 30px;
    padding: 10px 30px;
    cursor: pointer;
}
.titulo-prin a{
    color: #fff;
    text-decoration: none;
}
.sesion{
    padding: 0px 30px;
    width: 15%;
}
.sesion a{
    margin: auto;
    color: #fff;
    text-decoration: none;
    padding: 25px 5px;
    display: block;
    height: 75px;
}
.sesion a:hover{
    background: royalblue;
}
ul{
    list-style: none;
}
nav ul li a{
    
    color: #fff;
    height: 75px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul > li{
    width: 20%;
    float: left;
}
nav ul li a:hover{
    background-color: royalblue;
}
nav ul li ul a{
    background-color: rgba(0, 0, 0, 0.6) ;
    width: 175px;
    height: 75px;
    padding: 10px 15px;
}
nav ul li ul{
    display: none;
    position: absolute;
}
nav ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* sobre nosotros*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.imagenNosotros{
    width: 48%;
}
.sobre-nosotros .contenido-texto{
    width: 80%;
}
.contenido-texto h3{
    margin-bottom: 15px;
}
.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align:justify;
}

/*Servicios*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 48%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
.servicio-ind a{
    text-decoration: none;
}
/*Footer*/
footer{
    background:#414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #642a73;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
.links {
    text-align:left;
    text-decoration: none;
}

.RS ul li a{
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;  
}
.content-foo a{
    color: white;
    text-decoration: none;
}
.content-foo p{
    color: white;
    text-decoration: none;
    
}